# ==========================================
# OpsPilot-AI-FE - Environment Configuration
# ==========================================

# ============ Server Configuration ============
# NODE_ENV=development
MODE=development
VITE_API_URL=http://localhost:3000

# ============ Google Client  Variables ============
VITE_GOOGLE_CLIENT_ID=your-google-client-id
